version: "3.8"

services:
  website:
    image: nginx:alpine
    container_name: codelith_main_site
    restart: always
    ports:
      - "3000:80"
    volumes:
      - ./site:/usr/share/nginx/html:ro
    networks:
      - internal_net

networks:
  internal_net:
    external: true
    name: codelith-core-services_internal_net
